
config.json
### Python ###
# Byte-compiled / optimized / DLL files
/__pycache__
*/__pycache__
/compare/temp
/percentile/temp_average
/percentile/temp
/compare/image
*.db
*.csv
backend-credentials.json
.env